# The Word Championship League of Legend 2019 analyze

### Data preparation

In [59]:
# import library
import pandas as pd

In [60]:
# read csv file
data_champion=pd.read_csv("data/wc_champions.csv",index_col=0)
data_match=pd.read_csv("data/wc_matches.csv",index_col=0)
data_player=pd.read_csv("data/wc_players.csv",index_col=0)
data_match.head()

,team1,team2,winner,date,pbp_caster,color_caster,mvp,blue,red
0,Fnatic,SK Telecom T1,SK Telecom T1,2019-10-12 12:00:00,Atlus,"Froskurinn, Kobe",Faker,Fnatic,SK Telecom T1
1,Royal Never Give Up,Clutch Gaming,Royal Never Give Up,2019-10-12 13:00:00,Atlus,"Froskurinn, Kobe",Langx,Royal Never Give Up,Clutch Gaming
2,Invictus Gaming,ahq eSports Club,Invictus Gaming,2019-10-12 14:00:00,Atlus,"Froskurinn, Kobe",Rookie,Invictus Gaming,ahq eSports Club
3,DAMWON Gaming,Team Liquid,Team Liquid,2019-10-12 15:00:00,Phreak,"Azael, Spawn",Impact,DAMWON Gaming,Team Liquid
4,J Team,FunPlus Phoenix,J Team,2019-10-12 16:00:00,Phreak,"Azael, Spawn",FoFo,J Team,FunPlus Phoenix

#### data_champion

In [61]:
# seperate win and lose of win_lose_x_min into 2 seperate columns
data_champion[['win_less_25_min', 'lose_less_25_min']] = data_champion['win_lose_less_25_min'].str.split('-', 1, expand=True)
data_champion[['win_25_30_min', 'lose_25_30_min']] = data_champion['win_lose_25_to_30_min'].str.split('-', 1, expand=True)
data_champion[['win_30_35_min', 'lose_30_35_min']] = data_champion['win_lose_30_35_min'].str.split('-', 1, expand=True)
data_champion[['win_35_40_min', 'lose_35_40_min']] = data_champion['win_lose_35_40_min'].str.split('-', 1, expand=True)
data_champion[['win_40_45_min', 'lose_40_45_min']] = data_champion['win_lose_40_45_min'].str.split('-', 1, expand=True)
data_champion[['win_more_45_min', 'lose_more_45_min']] = data_champion['win_lose_more_45_min'].str.split('-', 1, expand=True)
data_champion.drop(columns=['win_lose_less_25_min','win_lose_25_to_30_min','win_lose_30_35_min','win_lose_35_40_min','win_lose_40_45_min',\
    'win_lose_more_45_min'],inplace=True)
data_champion.head()

,champion,sum_total,win_total,lose_total,winrate_total,sum_blue_side,win_blue_side,lose_blue_side,winrate_blue_side,sum_red_side,...,win_25_30_min,lose_25_30_min,win_30_35_min,lose_30_35_min,win_35_40_min,lose_35_40_min,win_40_45_min,lose_40_45_min,win_more_45_min,lose_more_45_min
1,Kai'Sa,71,37,34,52%,30,15,15,50%,41,...,15,6,12,14,4,7,3,2,1,0
2,Lee Sin,58,30,28,52%,21,11,10,52%,37,...,8,7,9,11,6,4,5,3,0,1
3,Xayah,57,35,22,61%,33,21,12,64%,24,...,9,4,16,7,3,6,2,3,2,0
4,Nautilus,52,28,24,54%,27,17,10,63%,25,...,6,5,9,10,7,4,3,2,2,0
5,Gragas,49,32,17,65%,26,16,10,62%,23,...,7,6,10,7,6,1,6,0,1,1

In [62]:
# remove symbol from data_champion
symbol_remove='%'
column_to_remove_symbol=['winrate_total','winrate_blue_side','winrate_red_side','winrate_less_25_min','winrate_25_30_min','winrate_30_35_min',\
    'winrate_35_40_min','winrate_40_45_min','winrate_more_45_min']
for col in column_to_remove_symbol:
    data_champion[col]=data_champion[col].apply(lambda x: x.replace(symbol_remove, ""))
data_champion.head()

,champion,sum_total,win_total,lose_total,winrate_total,sum_blue_side,win_blue_side,lose_blue_side,winrate_blue_side,sum_red_side,...,win_25_30_min,lose_25_30_min,win_30_35_min,lose_30_35_min,win_35_40_min,lose_35_40_min,win_40_45_min,lose_40_45_min,win_more_45_min,lose_more_45_min
1,Kai'Sa,71,37,34,52,30,15,15,50,41,...,15,6,12,14,4,7,3,2,1,0
2,Lee Sin,58,30,28,52,21,11,10,52,37,...,8,7,9,11,6,4,5,3,0,1
3,Xayah,57,35,22,61,33,21,12,64,24,...,9,4,16,7,3,6,2,3,2,0
4,Nautilus,52,28,24,54,27,17,10,63,25,...,6,5,9,10,7,4,3,2,2,0
5,Gragas,49,32,17,65,26,16,10,62,23,...,7,6,10,7,6,1,6,0,1,1

In [63]:
# data_champion edit type of seperate + % columns
data_champion[['winrate_total','winrate_blue_side','winrate_red_side','winrate_less_25_min','winrate_25_30_min','winrate_30_35_min',\
    'winrate_35_40_min','winrate_40_45_min','winrate_more_45_min','win_less_25_min', 'lose_less_25_min','win_25_30_min', 'lose_25_30_min',\
    'win_30_35_min', 'lose_30_35_min','win_35_40_min', 'lose_35_40_min','win_40_45_min', 'lose_40_45_min','win_more_45_min', \
    'lose_more_45_min']]\
    =data_champion[['winrate_total','winrate_blue_side','winrate_red_side','winrate_less_25_min','winrate_25_30_min','winrate_30_35_min',\
    'winrate_35_40_min','winrate_40_45_min','winrate_more_45_min','win_less_25_min', 'lose_less_25_min','win_25_30_min', 'lose_25_30_min',\
    'win_30_35_min', 'lose_30_35_min','win_35_40_min', 'lose_35_40_min','win_40_45_min', 'lose_40_45_min','win_more_45_min', \
    'lose_more_45_min']].astype('int64')
data_champion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 1 to 98
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   champion              98 non-null     object
 1   sum_total             98 non-null     int64
 2   win_total             98 non-null     int64
 3   lose_total            98 non-null     int64
 4   winrate_total         98 non-null     int64
 5   sum_blue_side         98 non-null     int64
 6   win_blue_side         98 non-null     int64
 7   lose_blue_side        98 non-null     int64
 8   winrate_blue_side     98 non-null     int64
 9   sum_red_side          98 non-null     int64
 10  win_red_side          98 non-null     int64
 11  lose_red_side         98 non-null     int64
 12  winrate_red_side      98 non-null     int64
 13  matches_less_25_min   98 non-null     int64
 14  winrate_less_25_min   98 non-null     int64
 15  matches_25_to_30_min  98 non-null     int64
 16  winrate_25_30_min     98 non-null     int64
 17  matches_30_35_min     98 non-null     int64
 18  winrate_30_35_min     98 non-null     int64
 19  matches_35_40_min     98 non-null     int64
 20  winrate_35_40_min     98 non-null     int64
 21  matches_40_45_min     98 non-null     int64
 22  winrate_40_45_min     98 non-null     int64
 23  matches_more_45_min   98 non-null     int64
 24  winrate_more_45_min   98 non-null     int64
 25  win_less_25_min       98 non-null     int64
 26  lose_less_25_min      98 non-null     int64
 27  win_25_30_min         98 non-null     int64
 28  lose_25_30_min        98 non-null     int64
 29  win_30_35_min         98 non-null     int64
 30  lose_30_35_min        98 non-null     int64
 31  win_35_40_min         98 non-null     int64
 32  lose_35_40_min        98 non-null     int64
 33  win_40_45_min         98 non-null     int64
 34  lose_40_45_min        98 non-null     int64
 35  win_more_45_min       98 non-null     int64
 36  lose_more_45_min      98 non-null     int64
dtypes: int64(36), object(1)
memory usage: 29.1+ KB

In [64]:
# seperate data champion
champion_name=data_champion.iloc[:,0]
data_champion_sum=data_champion.iloc[:,:5]
data_champion_side=data_champion.iloc[:,5:13]
data_champion_side.insert(loc=0,column='champion',value=champion_name)
data_champion_time=data_champion.iloc[:,13:]
data_champion_time.insert(loc=0,column='champion',value=champion_name)
data_champion_time.iloc[:,:]

,champion,matches_less_25_min,winrate_less_25_min,matches_25_to_30_min,winrate_25_30_min,matches_30_35_min,winrate_30_35_min,matches_35_40_min,winrate_35_40_min,matches_40_45_min,...,win_25_30_min,lose_25_30_min,win_30_35_min,lose_30_35_min,win_35_40_min,lose_35_40_min,win_40_45_min,lose_40_45_min,win_more_45_min,lose_more_45_min
1,Kai'Sa,7,29,21,71,26,46,11,36,5,...,15,6,12,14,4,7,3,2,1,0
2,Lee Sin,4,50,15,53,20,45,10,60,8,...,8,7,9,11,6,4,5,3,0,1
3,Xayah,5,60,13,69,23,70,9,33,5,...,9,4,16,7,3,6,2,3,2,0
4,Nautilus,4,25,11,55,19,47,11,64,5,...,6,5,9,10,7,4,3,2,2,0
5,Gragas,4,50,13,54,17,59,7,86,6,...,7,6,10,7,6,1,6,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Viktor,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
95,Volibear,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
96,Xin Zhao,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
97,Ziggs,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
98,Zilean,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

#### data_match

In [65]:
# drop team 1,2 in data_match
data_match.drop(columns=['team1','team2','pbp_caster','color_caster'],inplace=True)

# convert date column to datetime type
data_match['date']=pd.to_datetime(data_match['date'])
data_match.sort_values(by=['date'])
data_match.head()

,winner,date,mvp,blue,red
0,SK Telecom T1,2019-10-12 12:00:00,Faker,Fnatic,SK Telecom T1
1,Royal Never Give Up,2019-10-12 13:00:00,Langx,Royal Never Give Up,Clutch Gaming
2,Invictus Gaming,2019-10-12 14:00:00,Rookie,Invictus Gaming,ahq eSports Club
3,Team Liquid,2019-10-12 15:00:00,Impact,DAMWON Gaming,Team Liquid
4,J Team,2019-10-12 16:00:00,FoFo,J Team,FunPlus Phoenix

#### data_player

In [66]:
# clear data_player in column that data lost
data_player.drop(columns=['heraldtime','visiblewardclearrate','invisiblewardclearrate'],inplace=True)

# change data type of date to datetime
data_player['date']=pd.to_datetime(data_player['date'])
print(data_player.info())
# in game = ft
# in team = herald, baron

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1190 entries, 0 to 1425
Data columns (total 87 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     1190 non-null   datetime64[ns]
 1   side                     1190 non-null   object
 2   position                 1190 non-null   object
 3   player                   1190 non-null   object
 4   team                     1190 non-null   object
 5   champion                 1190 non-null   object
 6   ban1                     1190 non-null   object
 7   ban2                     1190 non-null   object
 8   ban3                     1190 non-null   object
 9   ban4                     1190 non-null   object
 10  ban5                     1185 non-null   object
 11  gamelength               1190 non-null   float64
 12  result                   1190 non-null   int64
 13  k                        1190 non-null   int64
 14  d                        1190 non-null   int64
 15  a                        1190 non-null   int64
 16  teamkills                1190 non-null   int64
 17  teamdeaths               1190 non-null   int64
 18  doubles                  1190 non-null   int64
 19  triples                  1190 non-null   int64
 20  quadras                  1190 non-null   int64
 21  pentas                   1190 non-null   int64
 22  fb                       1190 non-null   int64
 23  fbassist                 1190 non-null   int64
 24  fbvictim                 1190 non-null   int64
 25  fbtime                   1190 non-null   float64
 26  kpm                      1190 non-null   float64
 27  okpm                     1190 non-null   float64
 28  ckpm                     1190 non-null   float64
 29  fd                       1190 non-null   int64
 30  fdtime                   1190 non-null   float64
 31  teamdragkills            1190 non-null   int64
 32  oppdragkills             1190 non-null   int64
 33  elementals               1190 non-null   int64
 34  oppelementals            1190 non-null   int64
 35  firedrakes               1190 non-null   int64
 36  waterdrakes              1190 non-null   int64
 37  earthdrakes              1190 non-null   int64
 38  airdrakes                1190 non-null   int64
 39  elders                   1190 non-null   int64
 40  oppelders                1190 non-null   int64
 41  herald                   1190 non-null   int64
 42  ft                       1190 non-null   int64
 43  fttime                   1190 non-null   float64
 44  firstmidouter            1190 non-null   int64
 45  firsttothreetowers       1190 non-null   int64
 46  teamtowerkills           1190 non-null   int64
 47  opptowerkills            1190 non-null   int64
 48  fbaron                   1150 non-null   float64
 49  fbarontime               1150 non-null   float64
 50  teambaronkills           1190 non-null   int64
 51  oppbaronkills            1190 non-null   int64
 52  dmgtochamps              1190 non-null   int64
 53  dmgtochampsperminute     1190 non-null   float64
 54  dmgshare                 1190 non-null   float64
 55  earnedgoldshare          1190 non-null   float64
 56  wards                    1190 non-null   int64
 57  wpm                      1190 non-null   float64
 58  wardshare                1190 non-null   float64
 59  wardkills                1190 non-null   int64
 60  wcpm                     1190 non-null   float64
 61  visionwards              1190 non-null   int64
 62  visionwardbuys           1190 non-null   int64
 63  totalgold                1190 non-null   int64
 64  earnedgpm                1190 non-null   float64
 65  goldspent                1190 non-null   int64
 66  gspd                     1190 non-null   float64
 67  minionkills              1190 non-null   int64
 68  monsterkills             1190 non-null   int64
 69  monsterkillsownjungle    1190 non-null   int64
 70  monsterkillsenemyjungle  1190 non-null   int64
 71  cspm                     1190 non-null   float64
 72  goldat10                 1190 non-null   int64
 73  oppgoldat10              1190 non-null   int64
 74  gdat10                   1190 non-null   int64
 75  goldat15                 1190 non-null   int64
 76  oppgoldat15              1190 non-null   int64
 77  gdat15                   1190 non-null   int64
 78  xpat10                   1190 non-null   int64
 79  oppxpat10                1190 non-null   int64
 80  xpdat10                  1190 non-null   int64
 81  csat10                   1190 non-null   int64
 82  oppcsat10                1190 non-null   int64
 83  csdat10                  1190 non-null   int64
 84  csat15                   1190 non-null   int64
 85  oppcsat15                1190 non-null   int64
 86  csdat15                  1190 non-null   int64
dtypes: datetime64[ns](1), float64(18), int64(58), object(10)
memory usage: 818.1+ KB
None

### Analyze

#### The best champion on each position

##### most pick champion on each position

In [67]:
# top played champion in each position
most_play_champ=position_champion.groupby(['position','champion'])['champion'].count().to_frame(name = 'pick_count').sort_values(by=['position',\
    'pick_count'],ascending=[True,False]).reset_index().drop_duplicates(subset='position', keep='first').set_index('position').sort_values\
    ('pick_count',ascending=False)
most_play_champ

           champion  pick_count
position
ADC          Kai'Sa          71
Jungle      Lee Sin          57
Support    Nautilus          48
Top       Gangplank          38
Middle         Ryze          29

##### variety of pick team

In [68]:
# most team pick champion pick of each position
champion_team=position_champion.drop_duplicates(['position','champion','team']).groupby(['position','champion']).size().to_frame(name =\
    'team_count').sort_values(by='team_count',ascending=False).reset_index().drop_duplicates(subset='position').set_index('position')
champion_team

           champion  team_count
position
ADC          Kai'Sa          21
Support    Nautilus          19
Jungle      Lee Sin          18
Top       Gangplank          16
Middle      LeBlanc          13